.blogPage {
    background: #ffffff;
    padding: 60px 0;
    /* color: #fff; */
}

.blogWrapper {
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}

/* MAIN BLOG */
.blogHero {
    width: 100%;
    border-radius: 12px;
}

.blogMeta {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #ff4d3d;
    margin: 15px 0;
}

.blogTitle {
    font-size: 32px;
    margin-bottom: 15px;
}

.blogText {
    color: #bbb;
    line-height: 1.8;
    margin-bottom: 20px;
}

.blogImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 0;
}

.blogImages img {
    width: 100%;
    border-radius: 10px;
}

.quoteBox {
    background: #fff;
    color: #000;
    padding: 25px;
    border-radius: 10px;
    margin: 30px 0;
}

.quoteBox span {
    color: #ff4d3d;
    font-weight: 600;
}

.blogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border: 1px solid #ebebeb;
    padding: 12px;
    border-radius: 12px;
}

.tags span {
    border: 1px solid #b8b5b5;
    padding: 6px 14px;
    border-radius: 20px;
    margin-right: 8px;
    font-size: 14px;
}

.social button {
    border: 1px solid #b8b5b5;
    background: transparent;
    /* color: #fff; */
    margin-left: 8px;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.pagination {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pagination button {
    background: #f3f3f3;
    border: 1px solid #e3dbdb;
    color: #cdbfbf;
    padding: 8px 14px;
    margin-right: 6px;
    border-radius: 9px;
}

.pagination .active {
    background: #ff4d3d;
    border-color: #ff4d3d;
    color: #000;
}

/* SIDEBAR */
.sidebar {
    background: #f9f9f9;
    /* color: #000; */
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #ebebeb;
}

.searchBox {
    display: flex;
    margin-bottom: 25px;
}

.searchBox input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}

.searchBox button {
    background: #ff4d3d;
    color: #fff;
    border: none;
    padding: 0 15px;
}

.widget {
    margin-bottom: 30px;
}

.widget h4 {
    margin-bottom: 15px;
}

.widget ul li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.recentPost img {
    width: 100%;
    border-radius: 8px;
}

.date {
    color: #ff4d3d;
    font-size: 14px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

.tagList span {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 20px;
    margin: 5px;
    font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .blogWrapper {
        grid-template-columns: 1fr;
    }
}