.parentClass .checkoutPage {
    background: #f1f1f1;
    padding: 40px 20px;
}

.parentClass .checkoutContainer {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

.parentClass .left,
.parentClass .right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.parentClass .card {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #eee;
}

.parentClass .card h3 {
    margin-bottom: 12px;
}

.parentClass .subText {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.parentClass .infoText {
    font-size: 13px;
    color: #777;
    margin: 12px 0;
}

.parentClass input,
.parentClass textarea {
    /* width: 100%; */
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 14px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    outline: none;
}

.parentClass textarea {
    resize: none;
    height: 90px;
}

.parentClass .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.parentClass .radio {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 14px;
}

.parentClass .primaryBtn {
    background: #ff3d2f;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 6px;
    cursor: pointer;
}

.parentClass .primaryBtn:hover {
    background: #e63629;
}

.parentClass .loginRow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.parentClass .link {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.parentClass .summaryRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: #666;
}

.parentClass .totalRow {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 14px;
    border-top: 1px solid #eee;
    padding-top: 12px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .parentClass .checkoutContainer {
        grid-template-columns: 1fr;
    }
}