.wrapper {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}


/* Product Layout */
.productContainer {
    flex: 1;
    display: flex;
    gap: 40px;
}

/* Images */
.productImages {
    flex: 1;
}

.mainImage {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

.mainImage img {
    width: 100%;
}

.thumbnailList {
    display: flex;
    justify-content: space-around;
}

.thumbnailList img {
    width: 60px;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
}

/* Details */
.productDetails {
    flex: 1;
}

.shortDesc {
    color: #aaa;
    margin: 22px 0;
}

.rating span {
    color: #aaa;
}

.meta {
    list-style: none;
    margin: 15px 0;
}

.meta li {
    margin-bottom: 6px;
    color: #ccc;
}

.meta li strong {
    margin-right: 6px;
    color: #161515;
}

/* Price */
.price {
    margin: 15px 0;
}

.newPrice {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.oldPrice {
    margin-left: 10px;
    text-decoration: line-through;
    color: #888;
}

/* Sizes */
.sizes {
    display: flex;
}

.sizes button {
    margin-right: 8px;
    padding: 6px 12px;
    border: 1px solid #777777;
    background: transparent;
    color: #777777;
    border-radius: 10px;
}

.sizes .active {
    background: red;
    border-color: red;
    color: white;
}

/* Cart */
.cartActions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.qty {
    display: flex;
    border: 1px solid #b8b3b3;
}

.qty button,
.qty input {
    background: transparent;
    /* color: #fff; */
    border: 1px solid #dbdbdb;
    width: 30px;
    padding: 6px 9px;
}

.addCart {
    background: red;
    border: none;
    color: #fff;
    padding: 10px 16px;
}

.iconBtn {
    background: #fff;
    border: none;
    padding: 10px;
}

/* Tabs */
.tabs {
    background: #fff;
    color: #000;
    /* margin-top: 40px; */
    padding: 30px;
    border-radius: 6px;
}

.tabHeader {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid #ddd;
}

.tabs p {
    color: #7A7A7A;
    padding: 20px 0px;
}

.tabs h4 {
    color: #635e5e;
}

.tabHeader span {
    padding-bottom: 10px;
    cursor: pointer;
}

.tabHeader .active {
    color: red;
    border-bottom: 2px solid red;
}



