.productsPage {
    background: #ffffff;
    padding: 60px 0;
}

.wrapper {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}

/* SIDEBAR */
.sidebar {
    background: #f3f3f3;
    padding: 24px;
    border-radius: 14px;
    color: #998f8f;
}

.sidebar h4 {
    margin: 0px 0 12px;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;
}

.sidebar label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

.filterBtn {
    background: #ff3b30;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    padding: 6px 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    font-size: 13px;
    background-color: #FFFFFF;
}

/* COLORS */
.blue {
    background: #6c8cff;
}

.yellow {
    background: #e5e535;
}

.red {
    background: #ff4d4d;
}

.blue,
.yellow,
.red {
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

/* PRODUCTS */
.productsArea {
    color: #fff;
}

.topBar {
    background: #f3f3f3;
    color: #000;
    padding: 7px 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}

.productCard {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    border: 1px solid rgb(221, 218, 218);
}

.productCard img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.category {
    font-size: 12px;
    color: #888;
}

.rating {
    color: #ffb703;
    font-size: 14px;
}

.price {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.new {
    color: #ff3b30;
    font-weight: 600;
}

.old {
    text-decoration: line-through;
    color: #aaa;
}

.selectopt {
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #646262;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.pagination button {
    padding: 8px 14px;
    border: 1px solid #ddd;
    background: #fff;
}

.active {
    background: #ff3b30 !important;
    color: #fff;
}


@media (max-width: 992px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .productsGrid {
        grid-template-columns: 1fr;
    }
}