@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Inria+Sans:wght@300;400;700&family=Nunito:wght@300;400;500;600;700&display=swap");

/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Body ===== */
/* body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: #fff;
  color: #222;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #222;
}


.flex {
  display: flex;
}